@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Barlow";
    src: url("../public/fonts/Barlow-Regular.ttf");
}

#root {
    @apply font-barlow;
}

.btn-green {
    @apply text-xl text-snow p-2 bg-persian text-center disabled:bg-slate-300;
}

input[type=text] {
    @apply border-2
}

.pg {
    @apply text-eerie p-2;
}

.content-container {
    @apply container border-2 border-persian p-2;
}

.persian-table {
    @apply border-collapse
}

.persian-table tbody tr td {
    @apply px-2
}

.persian-table tbody tr:not(.table-total) td {
    @apply px-2 border-y border-slate-100
}

.persian-table thead tr th {
    @apply px-2
}

.toast_animate {
    animation-fill-mode: both;
    animation-duration: 0.3s;
}

legend {
    @apply text-2xl px-2
}